.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.category {
  * {
    font-size: 12px;
    font-weight: 400;
  }
}