.root :global {
  .ant-pagination-item,
  button {
    border: none !important;
    box-shadow: 0 0 0 2px #575967 !important;
  }
  .ant-pagination-item-active a {
    color: var(--primary-color);
  }
  .ant-pagination-item:focus-visible,
  .ant-pagination-item:hover,
  button:hover,
  .ant-pagination-item-active {
    box-shadow: 0 0 0 2px var(--primary-color) !important;
    border: none;
  }
  button:disabled {
    border: none !important;
    box-shadow: none !important;
    background-color: #9aa3a7 !important;
    color: #fff !important;
    border: none !important;
  }
}
