.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-size: cover;
  background-position: center center;
  // box-shadow: 0px 0px 5px #00000026;
  width: 120px !important;
  object-fit: cover;
  height: 120px !important;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.detailContainer {
  display: flex;
  div {
    margin-bottom: 12px;
  }
}

.title {
  width: 22%;
  font-weight: 600;
}

.select {
  margin: 10px 0;
}

:global .ant-picker {
  border: 1px solid #5f5f5f26 !important;
  border-radius: 10px;
  padding-left: 20px;
  height: 40px !important;
  width: 100%;
}

:global .ant-picker input {
  font-size: 12px;
}

:global .ant-picker:hover,
:global .ant-picker:focus {
  box-shadow: 0 0 0 2px var(--accent-turquoise) !important;
}