.input {
  // border: 1px solid #5f5f5f26 !important;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px !important;
}

.inputSearch {
  padding: 0;
  :global .ant-input {
    border: none;
    height: 40px;
    padding: 0 20px;
  }
}

.input:hover,
.input:active,
.input:focus,
.input:focus-within {
}

.small,
.small > input {
  font-size: 12px !important;
}
.middle,
.middle > input {
  font-size: 12px !important;
}

.large,
.large > input {
  font-size: 18px !important;
}

.inputNumber {
  width: 100% !important;
  padding: 0 20px !important;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.inputNumber::placeholder {
  color: #788686;
}

.inputNumber :global .ant-input-number-handler-wrap {
  display: none;
}

.textArea {
  min-height: 120px !important;
}

:global {
  .ant-input-number-group-wrapper {
    padding: 0 !important;
    input {
      height: 40px;
    }
  }
}