.btnAction {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 51px;
  line-height: 17px;
  overflow: hidden;
}

:global .ql-editor {
  min-height: 100px;
}

.categoryName, .description {
  * {
    font-size: 12px;
    font-weight: 400;
  }
}
