.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.listBrands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}