.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 32px;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
