.root {
  max-width: 800px;
  min-width: 700px;
  margin: 0 auto;

  .container {
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1.25rem;
  }

  .title {
    margin-bottom: 1.25rem;
  }
}
