@import '~antd/dist/antd.less';
// @import '~antd/lib/style/themes/default.less';

// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@border-radius-base: 10px;
@btn-border-radius-base: 4px;
@btn-border-radius-sm: 4px;
@font-size-base: 12px;
