.menu svg {
  font-size: 20px !important;
}

.btnAction {
  padding: 6px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.form {
  justify-content: center;
  margin-bottom: 20px;
}
.content {
  padding: 24px;
}

.note {
  color: red;
  float: right;
  font-size: 10px;
  font-style: italic;
  margin-top: -18px;
}

.addServiceFee {
  background: #fff;
  margin-top: 10px;
  display: flex;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.selectAddCommission {
  padding: 6px 16px;
  border: 1px solid #f0f0f0;
}

:global .ant-input[disabled],
:global .ant-select-selection-placeholder,
:global .ant-select-selection-item {
  color: var(--black-color);
}
