.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
:global .ant-picker {
  border: 1px solid #5f5f5f26 !important;
  border-radius: 10px;
  padding-left: 20px;
  height: 40px !important;
  width: 100%;
}

:global .ant-picker input {
  font-size: 12px;
}

:global .ant-picker:hover,
:global .ant-picker:focus {
  box-shadow: 0 0 0 2px var(--accent-turquoise) !important;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 34px;
  line-height: 17px;
  overflow: hidden;
}

.listBrands {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}