.header {
  margin-bottom: 12px;
}
.header h2 {
  font-size: 30px;
  font-weight: bold;
}

.addSearchContent {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
}

.justifyBetween {
  justify-content: space-between !important;
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 8px;
  }

  svg {
    color: white;
    font-size: 20px;
  }
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 8px;
  }

  svg {
    font-size: 20px;
  }
}
