.gen2FAContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gen2FANote {
  font-size: 13px;
  text-align: center;
  margin-bottom: 12px;
}

.qrCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  button {
    padding: 4px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 10px;
  }
}

.loginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.loginContent {
  width: 500px;
}

.loginContent :global .ant-form-item-label {
  width: 96px;
}
