/* Select */
.root :global .ant-select-selector {
  height: 40px !important;
  min-width: 138px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.root:hover :global .ant-select-selector {
  box-shadow: 0 0 0 2px var(--primary-color) !important;
}

/* Label */
.root :global .ant-select-selection-item {
  line-height: 40px !important;
  font-size: 12px;
  letter-spacing: 0.16px;
  opacity: 1;
}

/* Arrow */
.root :global .ant-select-arrow {
  top: 52%;
  right: 16px;
}

/* Dropdown */
.dropdown {
}

/* Placeholder */
.root :global .ant-select-selection-placeholder {
  font-size: 12px;
}

.loader-loading-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
