.root {
  :global .ant-picker {
    box-shadow: 0 0 10px #00000026;
    border: 1px solid #5f5f5f26 !important;
    border-radius: 10px;
    padding-left: 20px;
    height: 40px !important;
    width: 100%;
  }

  :global .ant-picker input {
    font-size: 14px;
  }

  :global .ant-picker:hover,
  :global .ant-picker:focus {
    box-shadow: 0 0 0 2px var(--accent-turquoise) !important;
  }
  .totals {
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    > div {
      padding: 8px 0;
      border-right: 1px solid #f0f0f0;
      text-align: center;
    }
    > div:nth-child(1) {
      width: 160px;
    }
    > div:nth-child(2) {
      text-align: center;
      width: 150px;
    }
    > div:nth-child(3) {
      text-align: center;
      width: 110px;
    }
    > div:nth-child(4) {
      text-align: center;
      width: 110px;
    }
    > div:nth-child(5) {
      text-align: center;
      width: 140px;
    }
  }
}

.cellTd {
  padding: 8px 16px !important;
}