.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  background-size: cover;
  background-position: center center;
  // box-shadow: 0px 0px 5px #00000026;
  width: 120px;
  height: 120px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailContainer {
  display: flex;
  div {
    margin-bottom: 12px;
  }
}

.title {
  width: 22%;
  font-weight: 600;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 34px;
  line-height: 17px;
  overflow: hidden;
}
