.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.longText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 51px;
  line-height: 17px;
  overflow: hidden;
}
.answer {
  width: 30%;
}
