.btnAction {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

:global .ant-picker {
  border: 1px solid #5f5f5f26 !important;
  border-radius: 10px;
  padding-left: 20px;
  height: 40px !important;
  width: 100%;
}

:global .ant-picker input {
  font-size: 12px;
}

:global .ant-picker:hover,
:global .ant-picker:focus {
  box-shadow: 0 0 0 2px var(--accent-turquoise) !important;
}